<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <div class="flex justflay-center flex-row item-center gap-5 flex-wrap" id="min-dev" >
      <% data.forEach(function(item) { %>
      <div class="w-52 h-52 border-2 rounded-3xl">
        <p class="text-center mt-2"><%=item.title%></p>
        

          <img class="w-[60%] h-[60%]" src="<%=item.image%>" alt="">
 
      </div>

      <% }); %>
    </div>
  </body>
  
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((registration) => {
            console.log(
              "Service Worker registered with scope:",
              registration.scope
            );
          })
          .catch((error) => {
            console.log("Service Worker registration failed:", error);
          });
      });
    }

    
  </script>
</html>
